<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Iniciar sesion</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h2>Inicia sesión con tu cuenta</h2>
        <form method="POST" action="#" th:action="@{/login}" th:object="${formulario}">
            <img src="img/LibroLogo.png" alt="Logo de Libreria Garcia">
            <h1>Libreria Garcia</h1>
            <label>Usuario: </label><br>
            <input type="text" name="campoUsuario" placeholder="Usuario"><br><br>
            <label>Contrasena: </label><br>
            <input type="password" name="campoContra" placeholder="Contrasena"><br><br>
            <input type="submit" value="Iniciar sesion"><br><br>
        </form>
        <p><a title="registro" href="registro">No tienes cuenta? Registraste aqui</a></p>
    </body>
</html>
