<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Registro de usuario</title>
    </head>
    <body>
        <h2>Registrate</h2>
        <form method="POST" action="RegistroUsuario">
            <label>Nombre: </label><br>
            <input type="text" name="campoNombre"><br><br>
            <label>Apellidos: </label><br>
            <input type="text" name="campoApellidos"><br><br>
            <label>Código postal: </label><br>
            <input type="text" name="campoCPostal"><br><br>
            <label>Ciudad: </label><br>
            <input type="text" name="campoCiudad"><br><br>
            <label>Estado: </label><br>
            <input type="text" name="campoEstado"><br><br>
            
            <input type="submit" value="Registrar">
        </form>
    </body>
</html>
